:root {
    --primarybg-color: #4a4a64;
    font-family: "Droid Sans Mono", "Courier New", monospace;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primarybg-color);

}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
}

.navbar{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
}
.nav-item{
    padding-right: 7rem;
    padding-left: 7rem;
}

@media only screen and (max-width: 600px) {
    .navbar{
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        align-self: center;
    }
    .nav-item{
        padding-right: 0.45rem;
        padding-left: 0.45rem;
    }
}

.navbar{
    z-index: 1;
    position: fixed;
}

.navbar li{
    display: inline;
    float: left;
}
.nav-link {
    text-decoration: none;
    color: white;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}

.bio-section {
    color: white;
    min-width: 300px;
    max-width: 700px;
}

.about-section{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-skills{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 900px;
    color: white;
    text-align: center;
}

.skill-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 600px;
}

.icon{
    font-size: 25px;
    text-align: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.img{
    width: 280px;
    height: 373px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2rem black);
}

.about-title{
    text-align: center;
}

.profile{
    display: flex;
    flex-direction: column;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.contact-icon{
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all 100ms ease-in;
}

.contact-icon:hover{
    font-size: 29px;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contact-icons a{
    text-decoration: none;
    color: white;
}