:root {
    --primarybg-color: #4a4a64;
    font-family: "Droid Sans Mono", "Courier New", monospace;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primarybg-color);

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav a {
    color: currentColor;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.nav-link:hover {
    opacity: 1;
    font-size: 115%;
    text-decoration: underline;

}

ul.navbar-nav li {
    list-style: none;
    display: inline-block;
    padding-bottom: 2px; /*the space for the gradient*/
    /*OR bottom right OR bottom left*/
    background-size: 0 2px; /*width:0% height:2px*/
    background-repeat: no-repeat; /* Don't repeat !!*/
    transition: all 200ms ease-in;
}

ul.navbar-nav li:hover {
    background-size: 100% 2px;
    opacity: 0.7;
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: var(--primarybg-color);
    color: white;
    position: fixed;
    top: 0;
    overflow: hidden;
}

ul.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    overflow: hidden;
}


.flex-container {
    margin-top: 70px;
    width: 100rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;

}

.flex-container > div {
    margin: 10px;
    text-align: left;
}

.item1 {
    flex-basis: 60rem;
    border-radius: 7px;
}

.item2 {
    flex-basis: 25rem;
    border-radius: 7px;
    justify-content: center;
}

.item3 {
    flex-basis: 86rem;
    border-radius: 7px;
}

.item4 {
    flex-basis: 40rem;
    opacity: 0.55;
    border-radius: 7px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container2{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto;
}
.flex-container2 h1{
    font-size: 25px;
}

h1{
    text-align: center;
    font-size: 25px;
}

.icon{
    font-size: 40px;
}

.bio{
    text-align: left;
}

.bio-section{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-self: baseline;
}

.img{
    width: 60%;
    height: 55%;
    opacity: 1;
    justify-content: center;
    margin-top: 25px;
    margin-left: 80px;
    align-self: center;
}

.profile{
    opacity: 100;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;

}

.contact-icon{
    font-size: 30px;
    transition: all 100ms ease-in-out;
}

.contact-icon:hover{
    font-size: 35px;
    opacity: 0.8;
    filter: drop-shadow(5px 5px 15px black);
}

.contact-icons{
    width: 240px;
    align-self: center;
    margin-left: 70px;
    margin-top: 15px;
    justify-content: space-evenly;
    display: flex;

    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.projects{
    margin-top: 70px;
    color: white;
    display: flex;
    width: 90rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .projects {
        flex-direction: column;
    }

    .flex-container{
        flex-direction: column;
    }
}

.project{
    flex-basis: 10rem;
    display: flex;
    margin: 5px;
    flex-direction: row;
    text-align: center;
    width: 30rem;
}

@media (max-width: 400px) {
    .project{
        flex-basis: 10rem;
        display: flex;
        margin: 5px;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        width: 30rem;
    }
}

.project h2{
    font-size: 15px;
}

.project-text{
    margin-left: 5px;
}

